/*Import font*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* General Body Styles */
body {
  font-family: "Poppins", sans-serif;
  margin: 40px; /* sets margin on all sides */
}

/* Typography */
h1 {
  font-size: 64px;
  font-weight: bold;
}

h2 #viz-title {
  text-align: center; /* Centers the title text */
}

h2 {
  font-size: 50px;
  font-weight: bold;
}

h3 {
  font-size: 36px;
}
p {
  font-size: 22px;
}

/* Flex Container Setup */
.content {
  display: flex;
  flex-direction: column; /* Stacks children vertically */
  align-items: center; /* Center content horizontally */
  width: 100%; /* Ensures the container takes full width */
}

.flex-container {
  display: flex;
  width: 100%; /* Full width to contain both description and chart */
  justify-content: space-around; /* Space around items */
  align-items: flex-start; /* Align items to the top */
}

.description {
  flex: 2; /* Gives the description more space */
  text-align: left; /* Left aligns the text */
  padding-right: 20px; /* Spacing between description and SVG */
}

.chart-container {
  flex: 1; /* SVG takes less space than description */
}

/* Hue Legend */
.legend {
  margin-top: 20px; /* Adds space between description and legend */
}

.legend-item {
  display: flex;
  align-items: center; /* Aligns the color box and text vertically */
  margin-bottom: 10px; /* Space between legend items */
}

.color-box {
  width: 20px; /* Size of the color box */
  height: 20px;
  border: 2px solid black; /* Black outline around the color box */
  margin-right: 10px; /* Space between the color box and the text */
}

.right-align {
  text-align: right; /* Aligns content to the right */
}

/* Line Chart Style */
.line {
  fill: none;
  stroke: slategrey;
  stroke-width: 0.5;
}

.halfMilMark {
  stroke: red;
  stroke-dasharray: 2, 3;
}

.halfMilLabel {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  fill: red;
}
.area {
  fill: slategrey;
  stroke: none;
}
