/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* General Body Styles */
body {
  font-family: "Poppins", sans-serif;
  margin: 40px; /* sets margin on all sides */
}

/* Typography */
h1 {
  font-size: 64px;
  font-weight: bold;
}

h2#viz-title {
  text-align: center; /* Centers the title text */
}

h2 {
  font-size: 50px;
  font-weight: bold;
}

h3 {
  font-size: 36px;
}

p {
  font-size: 22px;
}

/* Flex Container Setup */
.content {
  display: flex;
  flex-direction: column; /* Stacks children vertically */
  align-items: center; /* Center content horizontally */
  width: 100%; /* Ensures the container takes full width */
}

.flex-container {
  display: flex;
  width: 100%; /* Full width to contain both charts */
  justify-content: space-around; /* Space around items */
  align-items: flex-start; /* Align items to the top */
}

.chart-container {
  flex: 1; /* Equal space for both charts */
}

/* Line Chart Style */
.line {
  fill: none;
  stroke: #42f575;
  stroke-width: 5;
  transition: stroke 0.2s ease;
}

.line2 {
  fill: none;
  stroke: #FF6347;
  stroke-width: 5;
  transition: stroke 0.2s ease;
}

.line3 {
  fill: none;
  stroke: #4682B4;
  stroke-width: 5;
  transition: stroke 0.2s ease;
}


rect {
  pointer-events: all;
  fill-opacity: 0;
  stroke-opacity: 0;
  z-index: 1;
}

body .tooltip {
  position: absolute;
  padding: 10px;
  background-color: steelblue;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  display: none;
  opacity: 0.75;
}

/* Source Citation */
.source p {
  text-align: center; /* Centers text */
  font-size: 12px; /* Smaller font size */
  color: #666; /* Lighter color */
}

.center-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
