.body {
  color: #ffffff;
  background-color: #140f24;
  font-family: "inter", sans-serif;
  margin: 40px;
}

/* Typography
h1 {
  font-size: 64px;
  font-weight: bold;
}

h2 #viz-title {
  text-align: center; /* Centers the title text */
/* }

h2 {
  font-size: 50px;
  font-weight: bold;
}

h3 {
  font-size: 36px;
}

p {
  font-size: 18px;
}

/* Flex Container Setup */
.content {
  display: flex;
  flex-direction: column; /* Stacks children vertically */
  align-items: center; /* Center content horizontally */
  width: 100%; /* Ensures the container takes full width */
}

.flex-container {
  display: flex;
  width: 100%; /* Full width to contain both description and chart */
  justify-content: space-around; /* Space around items */
  align-items: flex-start; /* Align items to the top */
}

.description {
  flex: 2; /* Gives the description more space */
  text-align: left; /* Left aligns the text */
  padding-right: 20px; /* Spacing between description and SVG */
}

.chart-container {
  flex: 1; /* SVG takes less space than description */
}

/* Hue Legend */
.legend {
  margin-top: 20px; /* Adds space between description and legend */
}

.legend-item {
  display: flex;
  align-items: center; /* Aligns the color box and text vertically */
  margin-bottom: 10px; /* Space between legend items */
}

.color-box {
  width: 20px; /* Size of the color box */
  height: 20px;
  border: 2px solid black; /* Black outline around the color box */
  margin-right: 10px; /* Space between the color box and the text */
}

.right-align {
  text-align: right; /* Aligns content to the right */
}

/* Line Chart Style */
.line {
  fill: none;
  stroke: red;
  stroke-width: 5;
  transition: stroke 0.2s ease;
}

.line:hover {
  stroke: blue;
}

/* rect {
  pointer-events: all;
  fill-opacity: 0;
  stroke-opacity: 0;
  z-index: 1;
} */

.tooltip {
  background-color: rgba(12, 45, 73, 0.8);
  padding: 10px;
  color: white;
  border-radius: 10px;
  display: none;
  opacity: 0.75;
}

.bubbles {
  stroke-width: 1px;
  stroke: white;
  opacity: 1;
}
.bubbles:hover {
  stroke-width: 2px;
  stroke: white;
  opacity: 1;
}

.bubble-card {
  color: #ffffff;
  background-color: #211c33;
  height: 160px;
  padding: 16px;
  position: relative;
  border-radius: 8px;
}

.bubble-card-title {
  font-size: 18px;
  font-weight: bold;
  color: #a09dab;
}

.bubble-card-body {
  font-size: 40px;
  font-weight: semi-bold;
  position: absolute;
  bottom: 20px;
}

.bubble-card-box {
  text-align: bottom;
}

.correlation-scale {
  min-width: 250px;
  min-height: 180px;
}

.correlation-card {
  padding: 0px;
  margin: 0px;
}
.correlation-body {
  font-size: 81px;

  color: #ff4949;
}

.page-title {
  font-size: 64px;
  font-weight: semi-bold;
}

.radio-tick {
  width: 100%;
  height: 14px;
  padding-right: 5px;
}

.radio-tick input {
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  appearance: none;
  background-color: #211c33;
  border-radius: 10px;
  cursor: pointer;
}

.radio-tick input:checked {
  /* background-color: #d32a90; */
  background-color: #5721f0;
}

.radio-tick p {
  font-size: 16px; /* Default font size */
}

.radio-tick.checked p {
  font-size: 24px; /* Larger font size for selected */
  font-weight: bold; /* Bold font weight for selected */
}

.sub-header {
  font-size: 24px;
  font-weight: bold;
}

svg text {
  fill: white;
  font-size: 12px; /* Set appropriate font size if needed */
}

.axis path,
.axis line {
  stroke: white;
}

.axis text {
  fill: white;
}

.x-axis-label,
.y-axis-label {
  fill: #a09dab5e;
  font-size: 22px;
  font-weight: bold;
}
