/*Import font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* General Body Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 40px; /* sets margin on all sides */
}

/* Typography */
h1 {
    font-size: 64px;
    font-weight: bold;
}

h2#viz-title {
    text-align: center; /* Centers the title text */
}

h2 {
    font-size: 50px;
    font-weight: bold;
}
h3 {
    font-size: 36px;
}
p {
    font-size: 22px;
}
.description, .source{
    text-align: center;
}